<div class="container" id="home-container">
    <div class="jmbtrn bg-dark text-center text-white py-5">
        <div class="container">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Discover new ideas, share experiences, and get inspired. Welcome to a space where curiosity meets creativity.</p>
            <hr class="my-4">
            <p>Your daily dose of inspiration and knowledge starts here.</p>
            <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg"%>
        </div>
    </div>
</div>
